/*
DREAM PULSE
https://templatemo.com/tm-536-dream-pulse
*/

:root {
  --my-navy: #021627;
  --my-gray: #6D819C;
  --my-main: #83D6D3;
  --my-main-transparent: #83d6d3cc;
  --my-main-transparent: #83d6d3; /*------------------ gets rid of transparancy of top, only keep if the img is solid*/
  --my-white: #E6EBF0;
  --my-white-transparent: #e6ebf0ef;
}

/* emily added styles */
.brand-img {
  width: 100%;
  padding: 20px 30px 30px 20px; /* make sure right and bottom are 10px more */
}

.social-img {
  width: 100%; 
  padding: 15%;
}

.icon-img {
  width: 20px;
}

.profile-img {
  width: 90%;
  border: 2px solid var(--my-navy);
  padding: 10px;
  border-radius: 50%;
}

.fancy-border-box {
  box-sizing: content-box;
  width: 100%;
  max-width: 230px;
  min-height: 160px;
  color: var(--my-navy); /*my name*/
  text-align: center;
}

footer {
  bottom: 5vh;
  position: absolute;
}

.divider {
  background-color: var(--my-main);
  height: max-content;
  color: var(--my-navy);
  font-size: 3vh;
  justify-content: center;
  transform: translateY(-100%);
  padding: 2vh;
}

.divider-text {
  margin: 10px 0;
}
/* end emily added styles */

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--my-gray); /*paragraph text (not top page)*/
  /* background-color: var(--my-main); left menu bar */
}

p {
  line-height: 2;
}

a {
  transition: all 0.3s ease;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.small {
  font-size: 0.95rem;
}

.tm-color-primary {
  color: var(--my-navy); /*section header text*/
}

.tm-color-gray {
  color: var(--my-gray); /*paragraph text (top page)*/
}

.tm-bg-black-transparent {
  background-color: var(--my-main-transparent); /*transparent left menu bar*/
}

.tm-bg-white-transparent {
  background-color: var(--my-white-transparent); /*top page text box background*/
  border: 1px solid var(--my-gray); /*top page text box border*/
}

.tm-intro {
  max-width: 500px;
  width: 100%;
  padding: 55px;
  margin: auto;
}

.tm-section-title {
  font-size: 1.6rem;
  margin-bottom: none;
}

.parallax-window {
  height: 100vh;
  background: transparent;
}

.tm-section {
  display: flex;
  align-items: center;
  height: auto;
  max-width: 1275px;
  padding: 40px 60px;
  margin: auto;
}

#who-is-emily {
  height: 100vh;
  max-width: none;
}

#intro {
  min-height: 100vh;
  max-width: none;
}

.tm-brand {
  font-size: 2.6rem;
}

.tm-brand-box {
  box-sizing: content-box;
  width: 100%;
  max-width: 230px;
  min-height: 160px;
  color: var(--my-navy); /*my name*/
  text-align: center;
  margin: 40px;
}

.tm-double-border-1,
.tm-double-border-2 {
  border: 1px solid var(--my-navy); /*my name border*/
  position: relative;
}

.tm-double-border-2 {
  top: 10px;
  left: 10px;
}

.tm-border-gray {
  border-color: var(--my-navy); /*page box border*/
}

.tm-box-pad {
  padding: 50px 55px;
}

.tm-brand {
  padding: 30px;
}

.tm-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding-left: 70px;
  padding-right: 70px;
  width: 400px;
  max-width: 400px;
}

/* Hide scrollbar */
.tm-sidebar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.tm-sidebar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.tm-sidebar-sticky {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tm-section-wrap {
  width: calc(100% - 400px);
  margin-left: auto;
  margin-right: auto;
}

.tm-main-nav > li > a {
  color: var(--my-navy); /*left menu text*/
}

.tm-main-nav {
  margin-bottom: 160px;
}

.tm-white-rect {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--my-navy); /*left menu active tab*/
}

.nav-link {
  font-size: 1.25rem;
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav-link .tm-white-rect {
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-link.current .tm-white-rect,
.nav-link:hover .tm-white-rect,
.tm-main-nav .nav-link:hover {
  opacity: 1; 
}

.tm-social-links {
  left: 50%;
  POSITION: absolute;
  width: max-content;
  transform: translateX(-50%);
  bottom: 100px;
}

.tm-social-link {
  width: 40px;
  height: 40px;
  color: var(--my-main); /*icon*/
  background-color: var(--my-navy); /*icon background*/
  margin: 8px;
  border-radius: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-social-link:hover,
.tm-social-link:focus {
  background-color: var(--my-gray);
  color: var(--my-main); /*icon*/
}

.tm-footer-link, .tm-footer {
  color: var(--my-navy);
}

.tm-footer-link:hover {
  color: var(--my-gray);
  text-decoration: none;
}

.tm-section-half {
  padding: 55px;
}

.tm-section-icon {
  color: var(--my-navy); /*icon color*/
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Projects */
.tm-section-pad {
  padding-left: 50px;
  padding-right: 50px;
}

.tm-projects-images {
  max-width: 1040px;
}

.tm-w-80 {
  max-width: 80%;
}

.tm-flex-item-left {
  align-self: flex-start;
}

.tm-img-wrap {
  padding: 10px;
}

.tm-img-wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: 240px;
  height: 120px;
}

.tm-contact-form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-contact-form {
  max-width: 305px;
  width: 100%;
}

.form-group {
  margin-bottom: 40px;
}

.tm-btn-primary {
  color: #707172;
  border-bottom: 1px solid #cdcecf;
  padding: 10px 18px;
  position: relative;
}

.tm-btn-primary:hover,
.tm-btn-primary:active {
  color: #fff;
  background-color: #999;
}

.tm-btn-primary:after {
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  background: #cdcecf;
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.tm-btn-primary:hover:after,
.tm-btn-primary:active:after {
  height: 100%;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 1600px) {
  .tm-sidebar {
    width: 30%;
    max-width: none;
    padding-left: 30px;
    padding-right: 30px;
  }

  .tm-social-link {
    margin: 5px;
  }

  .tm-section-wrap {
    width: 70%;
  }

  .tm-img-wrap a {
    width: 100%;
    height: 100%;
  }
}

.navbar-toggler {
  display: none;
}

@media (max-width: 991px) {
  .tm-bg-black-transparent {
    background-color: var(--my-main-transparent);
  }

  .tm-brand-box {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 200px;
    min-height: 100px;
  }

  .tm-brand {
    padding: 20px 30px;
  }

  .tm-main-nav {
    margin-bottom: 60px;
  }

  .tm-social-links {
    margin-bottom: 30px;
  }

  footer p {
    line-height: 1;
  }

  .tm-sidebar {
    width: 250px;
    left: -250px;
    padding: 15px;
    transition: all 0.3s ease;
  }

  .navbar-toggler {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--my-main-transparent);
    color: white;
    padding: 10px 15px;
    transition: all 0.3s ease;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 5px;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .tm-sidebar.show {
    left: 0;
  }

  .tm-sidebar.show .navbar-toggler {
    left: 250px;
  }

  .tm-section-wrap {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .tm-section {
    padding: 30px;
  }
}

@media (max-width: 554px) {
  .tm-section {
    padding: 15px;
  }
}

@media (max-width: 383px) {
  .tm-box-pad {
    padding: 50px 30px;
  }
}
